$mainFontSize: 13px;
$inputHeight: 38px;
$mainColor: #009DCD;
$borderColor: #93908C;
$inputBorderRadius: 2px;
$mainTextColor: #565154;
$white: #FFFFFF;
$errorColor: red;
$cellBorderColor: #F4F5F5;

$mainFont: "Open Sans";
